.portfolio-section {
    background-color: var(--bg-main-color);
}
.button-decoration {
    padding: 6px 22px;

    font-family: 'Roboto';
    color: var(--text-main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    border-color: transparent;
    border: 0px;
    background: #F5F4FA;
    border-radius: 4px;
    letter-spacing: 0.03em;

    cursor: pointer;

    transition: background 250ms cubic-bezier(0.4,
                0,
                0.2,
                1), color 250ms cubic-bezier(0.4,
                        0,
                        0.2,
                        1), box-shadow 250ms cubic-bezier(0.4,
                                0,
                                0.2,
                                1), border-radius 250ms cubic-bezier(0.4,
                                        0,
                                        0.2,
                                        1);
    &:hover, &:focus {
        background: var(--bg-botton-color);
    color: var(--text-add-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    }
}
.button-activ {
    background: var(--bg-botton-color);
    color: var(--text-add-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
}
.btn-margin {
    flex: 1 1 auto;
    margin: 0 8px;
}
/* Card part */
.portfolio-card-margin {
    margin: 0 0 30px 0;
    &:nth-last-child(-n + 3){
        margin: 0;
    }
}
.potfolio-card-decoration {
    padding-top: 20px;

    background: var(--bg-main-color);
    border: 1px solid #EEEEEE;
}
.card-dynamic-part {
    position: relative;
    display: flex;
    overflow: hidden;
}
.card-dynamic-box {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0%;
    left: 0%;
    
    width: 370px;
    height: 295px;
    background: rgba(33, 150, 243, 0.9);
    overflow: auto;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-dynamic-text {
    display: inline-block;

    color: var(--text-add-color);
    font-size: 18px;
    line-height: 1.555;

    padding: 24px;
    height: fit-content;
}
.card-title {
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 370px;

    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.04em;
    color: var(--text-main-color);
}
.card-text {
    margin-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    font-size: 16px;
    line-height: 1.88;
    color: var(--text-contact-color);
}
.portfolio-card-shadow:hover {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card-shadow:hover .card-dynamic-option{
    transform: translateY(0%);
    }