:root {
    --text-main-color: #212121;
    --text-additional-color: #2196f3;
    --text-contact-color: #757575;
    --text-footer-contact: rgba(255, 255, 255, 0.6);
    --text-add-color: #FFFFFF;
    --bg-main-color: #FFFFFF;
    --bg-hero-color: #2F303A;
    --bg-works-color:#E5E5E5;
    --bg-team-color: #F5F4FA;
    --bg-footer-color: #2F303A;
    --bg-botton-color: #2196f3;
    --botton-hover-color: #188CE8;
    --icon-color: #afb1b8;
    --text-hover-color: #2196f3;
    --main-font: "Roboto";
    --additional-font: 'Raleway';
}

